# Standard Python
pandas
setuptools
matplotlib
scipy
seaborn
selenium

# Finance Related
ccxt
mplfinance
pandas-ta
pyfinviz
yfinance

# Machine Learning Related 
transformers


# Ollama
langchain-ollama
langchain-core